.DS_Store
Thumbs.db

[Bb]in/
[Oo]bj/

.vs/

*.user
*.suo
*.sln.docstates

.idea/
*.DotSettings
*.DotSettings.user

TestResults/
*.trx
*.coverlet.json
*.xml

*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

*.log
*.cache

*.dbmdl

appsettings.Development.json
secrets.json
*.secrets.json

node_modules/
npm-debug.log*
yarn-error.log